body{
    background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
    font-size: 10px;
}

.main{
    width: 70%;
    display: flex;
    height: 900px;
    margin: 0 auto;
    margin-top: 11rem;
    padding-bottom: 10rem;
}

.left{
    width: 57%;
    background: #FFFFFF;
}

.button1{
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 3rem;
    margin-top: .6rem;
}

.text{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;
    color: rgba(0, 0, 0, 1);
}

.form{
    margin-left: 8rem;
}

.p{
    margin-top: 1rem;
}

input.label > type > password{
    font-size: 2rem;
}

.label{
    width: 80%;
    margin-top: 0.3rem;
}

.minitext{
    color: #A8A8A8;
    font-size: 1rem;
    font-weight: 400;
}

.sometext{
    font-weight: 400;
    font-size: 1.6rem;
}

.sometext2{
    font-weight: 400;
    font-size: 1.2rem;
    color: #A8A8A8;
    margin-left: 1rem;
}

.sometext3{
    color: #CCCCCC;
    font-size: 1.2rem;
}

.region > option > span{
    color: #CCCCCC;
    font-size: 20rem;
}

.region{
    width: 32rem;
    height: 1.5rem;
}

.lastbutton a{
    text-decoration: none;
    color: #FFFFFF;

}

.lastbutton{
    background: #27485D;
    border: solid 1px #284A5E;
    border-radius: .4rem;
    width: 32rem;
    height: 2.4rem;
    margin: 0 auto;
    margin-left: 8rem;
    margin-top: 9rem;
    font-size: 1.6rem;
    text-align: center;
    padding-top: .4rem;
}

.botomtitle{
    display: flex;
    width: 32%;
    padding-top: 1rem;
    margin: 0 auto;
}

.botomtitle_text{
    color: #C4C4C4;
    font-size: 1.6rem;
    font-weight: 700;
}

.botomtitle_text2{
    color: #476D73;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.right{
    background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    width: 43%;
    font-weight: 700;
    
}

.nav a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav{
    font-size: 1.2rem;
    display: flex;
    margin-left: 63%;
}

.text2{
    width: 71%;
    font-size: 4.4rem;
    line-height: 6rem;
    margin: 0 auto;
    margin-top: 13rem;
    color: #FFFFFF;
}

.text3{
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-left: 5rem;
}