body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    max-width: 1000px;
}

.header, .pfooter{
    
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
}

.header-blue{
    color: #3e45e8;
}

.header-yelow{
    color: #e8c23e;
}

.content > div{
    display: flex;
    width: 250px;
    height: 320px;
    border: 5px solid #0D095F;
    border-radius: 10%;
    display: inline-block;
    margin: 24px;
    overflow: hidden;
}

.first{
    box-shadow: -16px 21px 40px #00D1FF59;
}

.second{
    box-shadow: 0 21px 35px #00D1FF59;
}

.third{
    box-shadow: 16px 21px 40px #00D1FF59;
}

.title{
    text-transform: uppercase;
    font-size: 40px;
}

.title2{
    
    text-transform: uppercase;
    border-bottom: 7px solid blue;
    display: inline-block;
    margin-left: 23%;
    font-size: 40px;
}

.ukr{
    width: 750px;
    margin-left: 8%;
}

.pic1{
    width: 250px;
    height: 180px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.pblue{
    text-transform: capitalize;
    color: #0072DB;
    margin-left: 2%;
}

.pyelow{
    text-transform: capitalize;
    color: #FF9900;
    margin-left: 2%;
    font-weight: 400;
}

.mail{
    color: #A89D9D;
    text-align: center;
    font-family: 'Marcellus', serif;
    font-size: 36px;
    margin-bottom: 15px;
}

.pfooter{
    margin-bottom: -40px;
}

.footerimg{
    display: inline-flex;
   margin-left: 44%;
   margin-top: -10px;
}

.footerimg2{
    margin-left: 14px;
}

.footerimg3{
    margin-left: 14px;
}

h1{
    font-size: 64;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.go{
    background-color: #2A61F0;
    text-align: center;
    height: px;
    width: 200px;
    border-radius: 50px;
    margin-left: 400px;
}