@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 10px;
}

body{
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    background-color: #f5f5f5;
}

.container{
    width: 80%;
    
    margin: 0 auto;
}
.header{
    background-color: #243B93;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    box-sizing: border-box;
}

.header a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.6rem;

}

.logo{
    height: 50px;
    width: 140px;
    border-radius: 167px;
    display: flex;
    align-items: center;
}

.nav{
    
    display: flex;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

    list-style: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
    width: 67%;
    justify-content: space-between;
}

.midleheader{
    background-color: #BFF0FF;
}

.midleheader h2{
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
    margin: 0;
    padding: 1rem 0;
}

.list{
    border-color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    margin: 3rem 0;
    font-weight: 400;
    font-size: 2.8rem;
    position: relative;
}

.list::after{
    content: url(../img/aroow.svg);
    position: absolute;
    right: 1.2rem;
    top: 20%;
}

.card{
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    position: relative;
    margin-bottom: 4.2rem;
}

.card *{
    transition: all 1s;
}

.card > .card-img{
    width: 33%;
    
}

.card-img > img{
    max-width: 100%;
    min-height: 100%;
}

.card > .card-description{
    width: 65%;
}

.card .card-description__title{
    font-weight: 700;
    font-style: italic;
    font-size: 3.6rem;
    border-bottom: 3px solid #FFFFFF;
    color: #353C57;
}

.card .card-description__content{
    background-color: #EDFBFF;
    padding: 3.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 400;
}

.card .star, .card .btn, .aroowtop{
    position: absolute;
}

.card .btn{
    background-color: #243B93;
    color: #FFFFFF;
    text-align: center;
    width: 200px;
    border-radius: 30px;
    padding: 0.5rem 0;
    font-size: 2.4rem;
    text-decoration: none;
    bottom: 1rem;
    right: -3rem;
}

.card .star{
    top: 1rem;
    right: 1rem;
}

.arrowtop{
    background: #300C6A4D;
    height: 100px;
    width: 100px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2.5rem 0;
    right: 7rem;
    bottom: 5rem;
    position: fixed;
}

.arrow_atyle{
    height: 100px;
    width: 100px;
}

/*hover*/

.card:hover{
    background: #2CBDEB;
}

.card:hover .star path{
    fill: #FFF500;
}

.card:hover .btn{
    background-color: #EF075B;
}

.block1{
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    width: 100%;
    height: 8.5rem;
}

.text1{
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
    color: #243B93;
    box-sizing: border-box;
    padding-top: 1.7rem;
}

.anceta{
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    position: relative;
    margin-top: 3.6rem;
}

.anceta-description1, .anceta-description2{
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    padding: 1.5rem;
}

.anceta-description1{
    border-bottom: 3px solid #FFFFFF;
}

.anceta .btn1, .btn2{
    position: absolute;
    font-weight: 400;
    text-align: center;
    width: 200px;
    border-radius: 30px;
    padding: 0.5rem 0;
    font-size: 2.4rem;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #243B93;
    top: 27rem;
    left: 12rem;
}

.btn2{
    background-color: #EF075B;
    top: 35rem;
    left: 12rem;
}

.non-hilite{
    font-weight: 400;
}

.btnback{
    display: flex;
    position: relative;
}

.back{
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFFFFF;
    background-color: #243B93;
    width: 174px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 0;
    position: absolute;
    left: 43vw;
    margin: 2rem;
}

.block2{
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    width: 100%;
    height: 8.5rem;
    margin-top: 10rem;
}

.text2{
    font-weight: 400;
    font-style: italic;
    font-size: 4.4rem;
    color: #243B93;
    box-sizing: border-box;
    padding-top: 1.7rem;
}

.info{
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.info_discription1, .info_discription2{
    text-decoration: none;
    font-weight: 400;
    font-size: 3.2rem;
    color: #000;
}

.info_discription1{
    border-bottom: 3px solid #202846;
}

.map{
    border: 3px solid #243B93;
    border-radius: 40px;
}

.somemap{
    width: 50rem;
    height: 29rem;
    border: 3px solid #243B93;
    border-radius: 40px;
}

.block3{
    background: #243B93;
    width: 100%;
    height: 6.5rem;
    margin-top: 2.8rem;
}

.text3{
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 16%;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 2rem;
}