@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


:root{
    margin: 0;
    font-size: 14px;
}

body{
    margin: 0;
}

.main-body{
    margin: 0;
    padding: 38px;
    background-color: #FFB084;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr;
    grid-template-rows: repeat(38, 1fr);
    height: 459px;
    width: 755px;
    margin: auto auto;
    gap: 1rem;
    font-size: 16px
}

.block1{
    grid-row-start: 1;
    grid-row-end: 30;
}

.main-list{
    line-height: 30px;
}

.main-list :nth-child(-n + 2){
    display: inline-block;
}

.nthf{
    margin-right: 19px;
}


.group1{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px 25px;
    box-shadow: 7px 7px 0px #000000;
}

.main-title{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding-top: 15px;
}

.picture{
    text-align: center;
    margin: 17px;
}

span{
    font-size: 16px;
    font-weight: 700;
}

.block2{
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 12;
    font-weight: 400;
}

.subtitle{
    margin-bottom: 7px;
    font-weight: 700;
}

.block3{
    font-weight: 700;
    font-size: 16;
    grid-column-start: 1;
    grid-row-start: 30;
    grid-row-end: 35;
}

.block4{
    grid-column-start: 2;
    grid-row-start: 12;
    grid-row-end: 23;
    box-shadow: 7px 7px 0px #29A71E;

}

.subtitle-green{
    color: #29A71E;
    font-weight: 700;
}

.block5{
    grid-column-start: 3;
    grid-row-start: 12;
    grid-row-end: 27;
    box-shadow: 7px 7px 0px #E13535;
}

.subtitle-red{
    color: #E13535;
    font-weight: 700;
}

.block6{
    grid-column-start: 2;
    grid-row-start: 23;
    grid-row-end: 35;
    box-shadow: 7px 7px 0px #3675B0;
}

.subtitle-blue{
    color: #3675B0;
    font-weight: 700;
}

.block7{
    grid-row-start: 27;
    grid-row-end: 35;
}

