@import url(./animation.css);

:root{
    font-family: 'Rosario';
    font-size: 10px;
    font-style: italic;
}

body{
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 11vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #000;
    justify-content: space-between;
}

.logo-img {
    width: 100%;
    height: 100%;
    background: #fff;
    object-fit: contain;
}

.nav {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 1%;
    justify-content: end;
    overflow: hidden;
}

.nav > li {
    padding: 1%;
    min-width: 0;
    text-align: center;
    margin: 0 1%;
}

.nav > li > a {
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFCFC;
}

.nav > li:hover {
    border-radius: 3rem;
    background-color: #40424293;
}

.burger-menu-pure-css-hidden {
    display: none;
}

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 6rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background-color: #fff;
    transition-duration: .25s;
}
.menu-btn > span::before {
    content: '';
    top: -1rem;
}
.menu-btn > span::after {
    content: '';
    top: 1rem;
}

.menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 11vh;
    left: -100%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #000;
    transition-duration: .25s;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 3.6rem;
    color: #FFFCFC;
    text-decoration: none;
    transition-duration: .25s;
    width: fit-content;
    margin: 0 auto;
    border-radius: 3rem;
}

.menu-item:hover {
    background-color: #40424293;
}

.x-line {
    opacity: 0;
}

.x-line:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}

.x-line:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}

.x-line:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

.x-line:checked ~ .menubox {
    visibility: visible;
    left: 0;
}

.page1 {
    min-height: 89vh;
    overflow: hidden;
}

.first-page-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-page-flex img {
    width: 100%;  
}

.foto_left, .foto_right2 {
    flex-grow: 2;
    margin: 1%;
}

.foto_left {
    transform: translateX(-100vw);
    animation: img-left 3s linear 1 forwards;
}

.foto_left2 > :first-child, .foto_left2 > :last-child {
    transform: translateX(-100vw);
    animation: img-left 1.5s linear 1 forwards;
}

.foto_left2 {
    flex-grow: 3;
    margin: 0 1%;
    margin-left: 2%;
}

.foto_left2 > div {
    margin: 7% 0;
}

.foto_right2 {
    flex-grow: 2;
    margin: 1%;
    transform: translateX(100vw);
    animation: img-right 3s linear 1 forwards;
}

.foto_right > :first-child, .foto_right > :last-child {
    transform: translateX(100vw);
    animation: img-right 1.5s linear 1 forwards;
}

.foto_right {
    flex-grow: 3;
    margin: 0 1%;
    margin-right: 2%;
}

.foto_right > div {
    margin: 7% 0;
}

.servises {
    display: flex;
}

.left {
    margin-top: 3%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.left h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.2rem;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.servises img {
    width: 100%;  
}

.right {
    width: 50%;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.left_one, .left_two, .left_three, .left_four {
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 3%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.left_one {
    top: 0;
    left: 0;
    animation: first-circle 10s linear infinite;
}

.left_two {
    top: 50%;
    left: 0;
    animation: second-circle 10s linear infinite;
}

.left_three {
    top: 0;
    left: 50%;
    animation: third-circle 10s linear infinite;
}

.left_four {
    top: 50%;
    left: 50%;
    animation: fourth-circle 10s linear infinite;
}

.third-page-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 11.6rem;
    margin: 0 auto;
    text-transform: capitalize;
    text-align: center;
}

.tems {
    display: flex;
    justify-content: space-evenly;
}

.tems:hover .team-memmber {
    filter: brightness(.6);    
}

.tems > .team-memmber:hover {
    filter: none; 
}

.team-memmber {
    width: 22%;
    position: relative;    
}

.team-memmber > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4rem;
}

.name {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.2rem;
    display: flex;
    align-items: center;
    color: #FFFAFA;
    margin: 0;
    text-transform: capitalize;
    border-radius: 0 0 4rem 4rem;
    background: rgba(163, 83, 10, 0.7);
    /*height: 23%; for hover*/
    height: 0;
    justify-content: center;
    overflow: hidden;
    transition: height .8s;
}

.team-memmber:hover p {
    height: 23%
}

.left_half {
    width: 60%;
}

.massage {
    width: 70%;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 7.8rem;
    text-align: center;
    color: #000000;
    margin: 5% auto 1%;
}

.blank {
    margin: 0 auto;
    width: 90%;
    /*height: 34vh;*/
    background-color: #E5E5E5;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

.p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .label-lab {
    width: 46%;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 68px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 6%;
    border: none;
}

.textarea-input {
    resize: none;
    width: 100%;
    height: 18vh;
    box-sizing: border-box;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.4rem;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}

.text-aria {
    width: 100%;
    position: relative;
}

.map {
    border: 0;
    width: 37%;
    height: 50vh;
    margin-top: 3%;
}

.a_lot_of {
    display: flex;
    align-items: flex-end;
}

.fourth-page-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0;
}

.contact {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-flex-link-header {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #000000;
    text-align: center;
}

.contact > li > a,
.contact > li > p,
.contact > li > a > p,
.footer-flex-link-header > span {
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #000000;
    margin: 0;
    padding: 0;
}

.footer-flex-social {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-flex-social > li > a img, .footer-flex-social > li > a p {
    display: inline;
    font-style: italic;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.6rem;
    color: #000000;
    margin: 0;
    padding-left: 5%;
} 

.footer-flex-social > li > a {
    display: flex;
    justify-content: center;
}

.footer-main-header {
    font-size: 3.6rem;
}

@media screen and (min-width: 1620px) {
    body {
        width: 1600px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1160px) {
    .nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
    }

    .nav > li {
        padding: 0 2%;
    }

}

@media screen and (max-width: 992px) {

    .first-page-flex img {
        width: 100%;
        padding: 3%;
        box-sizing: border-box;
    }

    .first-page-flex {
        display: flex;
        flex-wrap: wrap;
        padding: 3% 0;
    }

    .foto_left, .foto_right2 {
        order: 1;
        width: 50%;
        margin: 0;
    }

    .foto_left2, .foto_right {
        display: flex;
        margin: 0;
        width: 100%;
    }

    .foto_left2 > div, .foto_right > div {
        display: flex;
        margin: 0;
        justify-content: center;
        width: 50%;
     
    }

    @keyframes img-semimob-left {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes img-semimob-right {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    .foto_left2 > :first-child, .foto_right > :first-child, .foto_left {
        transform: translateX(-100vw);
        animation: img-semimob-left 2s linear 1 forwards;
    }

    .foto_left2 > :last-child, .foto_right > :last-child, .foto_right2 {
        transform: translateX(100vw);
        animation: img-semimob-right 2s linear 1 forwards;
    }  

    .servises {
        flex-direction: column-reverse;
    }
    .left {
        width: 100%;
        height: 91vh;
        display: flex;
        position: relative;
        margin: 10% 0 0 5%;
    }

    .right {
        width: 100%;
    }

    .tems {
        display: flex;
        flex-wrap: wrap;
    }

    .team-memmber {
        width: 44%;
        position: relative;
        margin: 3% auto;
    }

    .title {
        font-size: 7.8rem;
        line-height: 7.6rem;
    }

    .fourth-page-flex {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    
    .footer-flex-link-header,
    .contact > li > a,
    .contact > li > p,
    .contact > li > a > p,
    .footer-flex-link-header > span, 
    .footer-flex-social > li > a img,
    .footer-flex-social > li > a p {
        font-size: 2.2rem;
    } 

    .footer-main-header {
        font-size: 2.8rem;
    }

    .massage {
        width: 90%;
        font-size: 5.4rem;
        line-height: 5.8rem;
        margin: 0 auto 3%;
    }

    .a_lot_of {
        flex-direction: column;
    }

    .left_half {
        width: 90%;
        margin: 0 auto;
    }

    .blank {
        width: 100%;
        font-size: 2.2rem;
    }

    .map {
        border: 0;
        width: 90%;
        height: 40vh;
        margin: 3% auto;
    }

    .textarea-input {
        font-size: 2.8rem;
        line-height: 2.6rem;
    }

    .label-lab {
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

}

@media screen and (max-width: 768px) {

    .burger-menu-pure-css-hidden {
        width: 100%;
        display: flex;
    }
    .nav {
        display: none;
    }

    @keyframes img-mob-left {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes img-mob-right {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }
   
    .first-page-flex {
        flex-direction: column;
        align-content: center;
    }

    .foto_left, .foto_right2 {
        order: unset;
        width: 100%;
    }

    .foto_left2 > div, .foto_right > div {
        width: 100%;
    }

    .foto_left2, .foto_right {
        flex-direction: column;
        margin: 0 1rem;
    }

    .foto_left2 > :last-child, .foto_right > :last-child, .foto_left {
        margin: 1rem;
        flex-grow: unset;
        transform: translateX(-100vw);
        animation: img-mob-left 3s linear 1 forwards;    
    }

    .foto_left2 > :first-child, .foto_right > :first-child, .foto_right2 {
        margin: 1rem;
        flex-grow: unset;
        transform: translateX(100vw);
        animation: img-mob-right 3s linear 1 forwards;
    }  

    .right {
        display: none;
    }

    .title {
        font-size: 6.4rem;
        line-height: 6.8rem;
    }

    .tems {
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .team-memmber {
        width: 100%;
    }

    .team-memmber > img {
        border-radius: 4rem;
        margin-top: 10%;
    }

    .a_lot_of {
        align-items: center;
        flex-direction: column-reverse;
    }

    .left_half {
        width: 90%;
    }

    .map {
        width: 90%;
    }

    .massage {
        width: 90%;
        font-size: 4.2rem;
        line-height: 4.2rem;
    }
    .textarea-input {
        font-size: 2.6rem;
        line-height: 2.4rem;
    }

    .label-lab {
        font-size: 2.6rem;
        line-height: 2.6rem;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
    }

    .contact {
        margin: 5% 0;
    }

    .fourth-page-flex {
        flex-direction: column;
    }
}