@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@700&display=swap');

:root{
    font-size: 10px;
    --color-white: white;
    --color-orange: #FFB742;
}

body{
    margin: 0;
    background-color: #212529;
}

.header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 5rem ;
}

.header a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.6rem;

}

.nav{
    list-style: none;
    display: flex;
    padding: 0 2.5rem;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-between;
    color: var(--color-white);
    font-size: 1.8rem;
    width: 35%;
    font-family: 'Poppins', sans-serif;
}

.navitem:hover a{
    color: var(--color-orange);
}

.button1{
    background: var(--color-orange);
    width: 120px;
    height: 23px;
    border-radius: 50rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1.6rem;
    padding: 0.6rem 0 0.6rem 0;
}

.button1 a{
    color: #212529;
}

.medlehead{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    align-content: center;
    height: 55rem;
    flex-direction: column;
    align-items: center;
}

.myname{
    color: #FFB742;
    border-bottom: solid .3rem #FFB742;

}

.medlehead_disckription1{
    font-size: 3.2rem;
    margin-top: 10rem;
}

.medlehead_disckription2{
    font-size: 4.8rem;
    margin-top: 1rem;
}

.medlehead_disckription3{
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 4rem;
}

.medlehead_disckription4{
    margin-top: 2rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 13rem;
}

.card{
    width: 31.5%;
    background-color: #292B2E;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 0;
    font-family: 'Inter', sans-serif;
    border-radius: 1rem;
    cursor: pointer;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card:hover .title, .card:hover .subtitle{
    color: #212529;
}

.title{
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--color-orange);
    text-align: center;
}

.subtitle{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-white);
    text-align: center;
}

.iam .aa{
    width: 50%;
}

.iam > .aa > img{
    width: 100%;
}

.iam{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 25rem;
}

.aboutme{
    font-family: 'Poppins', sans-serif;
    width: 50%;
}

.aboutme1, .myskills1{
    background: #FFFFFF14;
    color: var(--color-orange);
    border-radius: 50px;
    padding: 6px 25px;
    font-size: 2rem;
    width: 15%;
    text-transform: uppercase;
    font-weight: 600;
}

.aboutme2, .myskills2{
    color: var(--color-white);
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.aboutme3, .myskills3{
    color: #D4D4D4;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-top: 3rem;
}

.aboutme4, .myskills4{
    background: var(--color-orange);
    width: 15rem;
    height: 5rem;
    border-radius: 50rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 5.4rem;
    padding: 0.8rem 1.8rem;
    line-height: 4.6rem;
}

.aboutme a{
    text-decoration: none;
    color: #212529;
}

.myskills{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin: 0 auto;
}

.firsthalf{
    width: 50%;
    font-family: 'Poppins', sans-serif;
}

.secondhalf{
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    height: 19rem;
}

.imgskills{
    background: #383E45;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-right: 1.6rem;
}

.imgskills1{
    background: #383E45;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    margin-right: 1.6rem;
}

.imgskills2{
    background: #383E45;
    padding: 1.5rem 2.3rem;
    border-radius: 1rem;
    margin-right: 1.6rem;
}

.imgskills:hover, .imgskills1:hover, .imgskills2:hover{
    background: #FFB74280;
}

.mywork{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: 0 auto;
    margin-top: 13rem;
}

.my_worktop{
    display: flex;
    flex-direction: column;
    
}

.my_workhead{
    background: #FFFFFF14;
    color: var(--color-orange);
    border-radius: 50px;
    padding: 6px 25px;
    font-size: 2rem;
    width: 110px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
}

.my_work_main{
    color: var(--color-white);
    font-size: 4.8rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.my_nav{
    display: flex;
    width: 50%;
    margin: 3.5rem auto 5rem;
    font-weight: 600;
    color: var(--color-white);
    font-size: 1.6rem;
    justify-content: space-between;
}

.my_navblok{
    background-color: #212529;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
}

.my_nav .my_navblock:hover{
    background: var(--color-orange);
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    color: #212529;
}

.my_workbottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.my_workbottom img{
    width: 80%;
}

.my_workbott{
    margin-bottom: 5rem;
}

.testemonials{
    margin: 0 auto;
    margin-top: 14rem;
    width: 90%;
}

.testemonials_head{
    margin: 0 auto;
}

.testemonials_head1{
    background: #FFFFFF14;
    color: var(--color-orange);
    border-radius: 50px;
    padding: 6px 25px;
    font-size: 2rem;
    width: 150px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 auto;
}

.testemonials_head2{
    color: var(--color-white);
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-top: 1rem;
    width: 367px;
}

.testemonials_bottom{
    margin: 0 auto;
    margin-top: 9rem;
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 25rem;
}

.testemonials_bottom img{
    width: 80%;
}

.bottomtitle{
    display: flex;
    background: #1C1C1C;
    padding-top: 14rem;
    padding-bottom: 10rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    justify-content: space-around;
    ;
}

.bottomtitle1{
    color: var(--color-orange);
    font-weight: 700;
    font-size: 3.2rem;   
}

.bottomtitle2{
    color: #D4D4D4;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3rem;
    margin-top: 2rem;
}

.bottomtitle3{
    color: #F5FBF2;
    font-size: 2.2rem;
}

.bottomtitle4{ 
    font-size: 1.8rem;
    line-height: 3.6rem;
}

.last a{
    text-decoration: none;
    color: #7B7B7B;
}