body{
    margin: 0;
    max-width: 1500px;
}

.mainfoto{
    background-image: url(../img/blabla/905e5fb2fd84e00a833e7ebe8806ad5f.png), url(../img/1.png);
    background-size: cover;
    max-height: 700px;
    background-repeat: no-repeat;
    background-size: 969px 205px, 1500px 700px;
    background-position: 50% 35%, top;
    height: 700px;
    
}

.text{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 112px;
    margin-top: 32px;
}

.menu{
    display: flex;
    
}

.cart1, .cart2, .cart3{
    background-color: #231B0C;
    height: 460px;
    width: 400px;
}

.cart1{
    margin-left: 112px;
    margin-right: 19px;
    background-image: url(../img/2.png), url(../img/blabla/galery.png);
    background-repeat: no-repeat;
    background-position: 50px 184px, 114px 37px;
    background-size: 300px 210px, 173px 60px;
}

.cart2{
    margin: 0px 19px;
    background-image: url(../img/3.png), url(../img/blabla/sport.png);
    background-repeat: no-repeat;
    background-position: 50px 184px, 120px 37px;
    background-size: 300px 210px, 159px 60px;
}

.cart3{
    margin-left: 19px;
    margin-right: 112px;
    background-image: url(../img/4.png), url(../img/blabla/more.png);
    background-repeat: no-repeat;
    background-position: 50px 184px, 131px 37px;
    background-size: 300px 210px, 136px 60px;
}

.last{
    background-image: url(../img/5.png);
    background-repeat: no-repeat;
    background-size: 1276px 595px;
    background-position: 112px 41px;
    height: 595px;
}

footer{
    background-color: #150F02;
    background-size: 1500px 279px;
    height: 279px;
    margin-top: 40px;
}

.aftermain1{
    background-image: url(../img/blabla/entertaiment.png), url(../img/blabla/restorans.png), url(../img/blabla/shops.png), url(../img/blabla/art.png);
    background-size: 167px 25px, 142px 25px, 66px 25px, 42px 25px; 
    background-repeat: no-repeat;
    background-position: 419px 39px, 419px 91px, 959px 39px, 959px 91px;
    height: 128px;
    width: 1500px;
}

.contact{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 10px solid #FF6B00;
    color: #FFFFFF;
    margin: 12px auto;
    width: 318px;
    text-align: center;
    padding-bottom: 6px;
    letter-spacing: 4px;
}

.svg{
    display: flex;

}

.svg1{
    margin-left: 670px;
    margin-bottom: 61px;
}

.svg2{
    margin-left: 32px;
}

.svg3{
    margin-left: 32px;
    margin-top: 4px;
}